@{
    ViewBag.Title = "About Us";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
@*<h3>About Us</h3>
    <img src="~/Images/SudhirV2.png" alt="logo" class="img-rounded welcomeimg">
    <h2>Our Mission</h2>
    <p>SF2 is registered public charitable trust (Reg No. - Serial No. : 6660 / Book No. :- 4 / Deed No. :- 6 / Government of Bihar) formed to establish
    happiness, peace and harmony along with complete advancement of education in society. Further goal of trust is to work towards eliminating
    evils rife in society along with establishing merit with confidence.</p></br>

    <h2> Objectives of Trust</h2>*@


<div id="content">
    <div>
        <h3>About</h3>
        <div class="first">
            <a href="#"><img src="~/Images/SudhirV2.png" alt="" class="img-rounded welcomeimg" /></a>
            <h2>Our Mission</h2>
            <p>
                <span class="Three-Dee-normal" style="font-size:20px;">SF<sup>2</sup></span> is registered public charitable trust (Reg No. - Serial No. : 6660 / Book No. :- 4 / Deed No. :- 6 / Government of Bihar) formed to establish
                happiness, peace and harmony along with complete advancement of education in society. Further goal of trust is to work towards eliminating
                evils rife in society along with establishing merit with confidence.
            </p>
        </div>

        <div style="margin-top:30px; ">
            <h2>Objectives of Trust</h2>
            @*<div style="max-height: 300px; overflow: auto;">*@
            <div>
                <ol>
                    <li>
                        <div>
                            Establishment and operation of institutes for general education, industrial technology, physical and different levels of education
                            and trainings for public welfare to eliminate illiteracy rife in society.
                        </div>
                    </li>
                    <li>
                        <div>
                            Organizing various programs for the advancement and progress of education and establishment and operation of schools, colleges for
                            achieving goal of complete education in society.
                        </div>
                    </li>
                    <li>
                        <div>
                            Conduct of various programs for the economic, social, educational, cultural and ethical development of poor, downtrodden, backward classes,
                            minorities and tribal.
                        </div>
                    </li>
                    <li>
                        <div>
                            Establishment and operation of typographical art, self-help shorthand, computer, electronics, medical and other technical institutes for the young educated unemployed youth to make them autonomous.
                        </div>
                    </li>

                    <li>
                        <div>
                            Organizing seminars, courses, post travel and contests to end evils rife in society like child marriage, dowry, prostitute, drug abuse and communalism.
                        </div>
                    </li>

                    <li>
                        <div>
                            Organizing and collaborating as much as possible, collective marriages for girls who are poor, helpless, unassisted or suffering from natural outbreaks to encourage Ideal marriages and interracial marriages.
                        </div>
                    </li>

                    <li>
                        <div>
                            Operationalization of public welfare programs during Natural disaster and other emergencies and co-operation to public communities in every possible way during Natural Outbreaks.
                        </div>
                    </li>

                    <li><div>Building and Operation of Hospice, rest houses for the benefit of all sections of the society on the appropriate places and housing for poor.</div></li>
                    <li>
                        <div>
                            Plantation to make environment pollution free and providing clean drinking water, toilets to rural and urban areas related to sanitation campaign.
                        </div>
                    </li>
                    <li><div>Operationalization of Libraries, Reading Rooms, Music Rooms. Publication, distribution, and archiving of letters, journals. Organizing Drama, dance music and instrumental trainings and competitions to create a sense of Indian culture in the public psyche.</div></li>

                    <li><div>Operationalization of any plan or programs related to health education e.g. Medical College and Hospital, Dental College, Pharmacy College, Hospital, Charitable Dispensary, Medical Support Center, Pharmacy, Medicine Manufacturing, Delivery Centers, Nursing homes, child welfare centers and any other plans or programs similar to these.</div></li>
                    <li><div>Organizing family welfare camps, vaccination camps and other health camps for the protection of health in Society along with providing information necessary to prevent incurable diseases such as AIDS, cancer, T. B. , Kala-Azar, Hepatitis e.t.c and making medical care available to afflicted people.</div></li>
                    <li><div>Organizing exhibition of family welfare and government organized programs for awareness of family planning and population control in society.</div></li>

                    <li><div>Participating in the programs run by The State Government, Central Government, HUDCO, NAWARD, RGVN, CAPAT, IDBI, SIDIB and local institutions.</div></li>
                    <li><div>Providing trainings for SSI, cottage industries, home industries, Khadi village industries, fisheries, beekeeping, sericulture, animal husbandry, dairy industry, fruit and food processing to poor and vulnerable people in society for their economic development.</div></li>
                    <li><div>Providing information and guidance for Bio-gas plant for energy conservation, non-traditional sources of solar energy and also making it available to general mass.</div></li>

                    <li><div>Providing information and sensitizing people about PRI System, Adult Franchise, Human Rights, Consumer Protection, etc.</div></li>
                    <li><div>Operationalization of the training center for educational development of blind, mute, deaf, physically disabled and mentally deranged children and adults and acquitting welfare tasks for them.</div></li>
                    <li><div>Providing modern tools, improved seed, fertilizer, compost and necessary resources for production of medicinal plants to farmers for the development of agriculture and horticulture and construction of tube well, water harvesting, ponds and puddles for irrigation.</div></li>

                    <li><div>Conducting welfare functions for orphans, the aged, the long-suffering grass widows, helpless people and providing ashram site, food, education, medicine etc. to them.</div></li>
                    <li><div>Providing professional trainings to women for harvesting, sewing, knitting, painting, Madhubani painting, eplic work, cosmetics e.t.c to make them employable and helping them to become self-supporting.</div></li>
                    <li><div>Organizing programs to remit child labors, women workers, deported and landless workers and restore them.</div></li>

                    <li><div>Building home for blind, crippled and facilitate charitable vocational training to them and providing monetary help to organization like this.</div></li>
                    <li><div>Opening drug rehabilitation centers for drug edicts, knowing reasons for addiction to get rid of this and also to motivate people for salvation.</div></li>
                    <li><div>Construction of access paths, roadside trails, culverts, bridges, drainage pipes etc. to facilitate ease of journey to all the people in society.</div></li>

                    <li><div>Engraving hand pumps, kuan in Urban and rural areas and organizing low-cost water supply in any special occasion or function and ushering water shed with government support.</div></li>
                    <li><div>Construction of residential houses, flats, apartment, etc. in urban and rural areas with new techniques, earthquake resistant, low-priced, feature-rich, equipped and keeping interests of all sections of society in view.</div></li>
                    <li><div>Ushering educational institutions related to technical courses, management courses, distance learning and online education in urban and rural areas.</div></li>

                    <li><div>Providing financial assistance in innumerable tasks meant for animal welfare and for the protection of birds.</div></li>
                    <li><div>Establishing coaching center for preparation of competitive exams for boys-girls students of all sections of society.</div></li>
                    <li><div>Bringing awareness in society for Indian civilization and culture and organizing programs to promote Indian civilization and culture.</div></li>

                    <li><div>Creating tele films, serial, films and documentary films at the great personalities of the country for healthy entertainment of all sections of society.</div></li>
                    <li><div>Developing a range of people to deal with nature outbreak and problems arising out of this across whole country.</div></li>
                    <li><div>Spreading awareness among people for national solidarity, mutual goodwill, secularism and conducting all types of programs to eliminate racial discrimination.</div></li>

                    <li><div>Conducting programs related to women zone, self-help groups foster home, nutrition center, women empowerment etc. for all round development of women and children.</div></li>
                    <li><div>Collecting or handing over cash or endowments, donations, dividends, rents etc. to achieve goal of the trust.</div></li>

                </ol>
            </div>
        </div>
    </div>
</div>
